booleanValue literals should be handled case-insensitively

<!-- markdownlint-disable MD002 MD041 -->

booleanValue literals are not being handled case-insensitively as the spec says they should be. It appears this test is only done in 3 places, so should be relatively easy to add ToLower() calls before comparing to KeywordTrue / KeywordFalse

### Assemblies affected

OData .Net lib 7.x

### Reproduce steps

Query with $count=TRUE or $filter=TrUe eq true

### Expected result

TRUE or TrUe would be treated as the booleanValue true

### Actual result

TRUE or TrUe are not being treated as a boolean literal

### Additional detail

According to the [OData ABNF](https://docs.oasis-open.org/odata/odata/v4.01/cs01/abnf/odata-abnf-construction-rules.txt):

> Overview:
> This grammar uses the ABNF defined in RFC5234 with one extension: literals
> enclosed in single quotes (e.g. '$metadata') are treated case-sensitive.

and

> booleanValue = "true" / "false"


According to [RFC5234 Section 2.3](https://tools.ietf.org/html/rfc5234#section-2.3):

> NOTE:
> 
> ABNF strings are case insensitive and the character set for these
> strings is US-ASCII.
> 
> Hence:
> 
> rulename = "abc"
> 
> and:
> 
> rulename = "aBc"
> 
> will match "abc", "Abc", "aBc", "abC", "ABc", "aBC", "AbC", and
> "ABC".


@jbramleycl The current design requires you to use true or false. Is there a specific scenario that would require you to use case-insensitive boolean values? @mikepizzo Can you advise?

We have clients who are using our odata-based service who have complained about the case-sensitivity of the boolean values. While not 100% sure, I believe they are using Python to write their clients and dealing with the fact that `urllib.parse.urlencode` translates a native boolean value into either 'True' or 'False'. They could (and we are currently telling them they have to) write something that translates True to true and False to false, but it would be nice to support the values case-insenitively.